#wrap {
  width: 800px;
  margin: 0 auto;
}

/* TITLE_WRAP */
#wrap > div.title_wrap {
  border-bottom: 1px double #dadada;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 1.1em;
}

/* MENU_WRAP */
#wrap > div.menu_wrap {
  text-align: center;
}

#wrap > div.menu_wrap a {
  display: inline-block;
  width: 100px;
  margin: 10px 5px;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 10px;
  text-align: center;
}

#wrap > div.menu_wrap a:hover {
  text-decoration: none;
  background-color: #f8f8f8;
}

#wrap > div.menu_wrap a.sign_out {
  display: none;
}

/* SIGN_UP_WRAP */
#wrap > div.sign_up_wrap {
  text-align: center;
  display: none;
}

#wrap > div.sign_up_wrap input {
  width: 400px;
  padding: 10px;
  margin: 1px;
  border: 1px solid #dadada;
  border-radius: 7px;
}

#wrap > div.sign_up_wrap input[type="button"] {
  width: 100px;
  cursor: pointer;
}

/* SIGN_IN_WRAP */

#wrap > div.sign_in_wrap {
  text-align: center;
  display: none;
}

#wrap > div.sign_in_wrap input {
  width: 400px;
  padding: 10px;
  margin: 1px;
  border: 1px solid #dadada;
  border-radius: 7px;
}

#wrap > div.sign_in_wrap input[type="button"] {
  width: 100px;
  cursor: pointer;
}

/* WRITE_WRAP */
#wrap > div.write_wrap {
  text-align: center;
  display: none;
}

#wrap > div.write_wrap input {
  width: 500px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #dadada;
  border-radius: 7px;
  font-size: 1.2em;
}

#wrap > div.write_wrap button {
  padding: 20px;
  margin: 10px;
  border: 1px solid #dadada;
  border-radius: 7px;
  font-size: 1.2em;
  cursor: pointer;
}

#wrap > div.write_wrap button:hover {
  background-color: #f8f8f8;
}
/* LIST_WRAP */
#wrap > div.list_wrap {
  display: none;
}
